n8n-workflows/01-email-triage.json
{
  "name": "01-email-triage",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [{ "mode": "everyMinute" }]
        },
        "filters": {
          "labelIds": ["INBOX"],
          "q": "is:unread"
        },
        "options": {}
      },
      "id": "gmail-trigger",
      "name": "Gmail Trigger — agentmetabelly",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const email = $input.first().json;\nconst body = email.text || email.snippet || email.body || '';\nconst subject = email.subject || email.Subject || '';\nconst sender = email.from || email.From || email.sender || '';\nconst threadId = email.threadId || email.id || '';\nconst gmailId = email.id || email.messageId || '';\n\nreturn [{\n  json: {\n    gmailId,\n    threadId,\n    sender,\n    subject,\n    body: body.substring(0, 2000)\n  }\n}];"
      },
      "id": "extract-email",
      "name": "Extract Email Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $vars.CLAUDE_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'claude-haiku-4-5-20251001',\n  max_tokens: 1024,\n  system: `You are Luka, an AI assistant for Metabelly (Croatian gut health brand). Classify customer emails and write auto-replies using ONLY the knowledge base below.\n\nKNOWLEDGE BASE:\n- Metabelly Fiber 300g = 34€, 30 servings, resistant dextrins from corn starch, allergen-free, neutral taste\n- Family Pack 3×300g = 96€ (promo)\n- Microbiome Analysis Standard = 349€, Premium = 548€\n- Usage: 10g in 200ml cold non-carbonated drink, wait 10s, stir. Morning or between meals. Max 20g/day\n- Free delivery in Croatia via DPD, 1-3 business days\n- Payment: card or bank transfer\n- Returns: 15 days, open products OK, no returns on microbiome analysis\n- 10% discount on first purchase with newsletter signup\n- Contact: support@metabelly.com\n- NEVER give medical diagnoses or treatment advice\n- For medical conditions (IBS, Crohn's, pregnancy, medication) — always recommend consulting a doctor\n\nLANGUAGE RULE:\n- Detect the language of the customer email\n- If Croatian (HR): write auto_reply in Croatian\n- If English (EN): write auto_reply in English\n- Match the customer's language exactly\n\nCATEGORIES:\n- FAQ: product questions, ingredients, dosage, delivery, price, usage\n- MEDICAL: health conditions, symptoms, medication, IBS, Crohn's, pregnancy\n- ORDER: shipping, tracking, returns, payment issues, order problems\n- BUSINESS: wholesale, partnerships, press, collaboration\n- URGENT: distress, emergency\n\nPRIORITY:\n- P1: emergency/distress\n- P2: needs human (medical, order, business)\n- P3: routine FAQ that can be auto-answered\n\nAUTO-REPLY RULES:\n- Only set requires_human=false and write auto_reply for clear P3 FAQ questions\n- Auto-reply must use ONLY information from the knowledge base above\n- Never improvise or add information not in the knowledge base\n- For anything medical, order-related, or unclear: requires_human=true, auto_reply=''\n- End every auto-reply with: HR='Za sva ostala pitanja obratite nam se na support@metabelly.com' / EN='For any other questions contact us at support@metabelly.com'\n\nReturn ONLY valid JSON — no markdown, no extra text:\n{\"category\": \"FAQ|MEDICAL|ORDER|BUSINESS|URGENT\", \"priority\": \"P1|P2|P3\", \"language\": \"HR|EN\", \"summary\": \"one sentence in English\", \"requires_human\": true, \"suggested_action\": \"short action for the team\", \"auto_reply\": \"\"}`,\n  messages: [\n    {\n      role: 'user',\n      content: 'Subject: ' + $json.subject + '\\nFrom: ' + $json.sender + '\\nBody: ' + $json.body\n    }\n  ]\n}) }}",
        "options": {}
      },
      "id": "classify-claude",
      "name": "Luka — Classify with Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nlet classification;\ntry {\n  const content = response.content[0].text;\n  classification = JSON.parse(content);\n} catch(e) {\n  classification = {\n    category: 'FAQ',\n    priority: 'P2',\n    language: 'HR',\n    summary: 'Could not parse classification',\n    requires_human: true,\n    suggested_action: 'Manual review needed',\n    auto_reply: ''\n  };\n}\n\nconst emailData = $('Extract Email Fields').first().json;\n\nconst webhookMap = {\n  MEDICAL: $vars.SLACK_WEBHOOK_MEDICAL,\n  ORDER: $vars.SLACK_WEBHOOK_ORDER,\n  BUSINESS: $vars.SLACK_WEBHOOK_BUSINESS,\n  FAQ: $vars.SLACK_WEBHOOK_FAQ,\n  URGENT: $vars.SLACK_WEBHOOK_URGENT\n};\n\nconst priorityEmoji = { P1: '🚨', P2: '⚠️', P3: 'ℹ️' };\nconst emoji = priorityEmoji[classification.priority] || 'ℹ️';\nconst urgentPrefix = classification.priority === 'P1' ? '🚨 *HITNO / URGENT* 🚨\\n' : '';\n\nconst slackWebhook = webhookMap[classification.category] || webhookMap['FAQ'];\nconst gmailLink = 'https://mail.google.com/mail/u/0/#inbox/' + emailData.threadId;\nconst slackMessage = urgentPrefix + emoji + ' *Nova poruka — ' + classification.category + '* (' + classification.priority + ')\\n*Od:* ' + emailData.sender + '\\n*Predmet:* ' + emailData.subject + '\\n*Sažetak:* ' + classification.summary + '\\n*Akcija:* ' + classification.suggested_action + '\\n*Auto-odgovor:* ' + (classification.requires_human ? 'Ne — čeka odgovor' : 'Da') + '\\n<' + gmailLink + '|📧 Otvori i odgovori u Gmailu>';\n\nconst canAutoReply = !classification.requires_human && !!classification.auto_reply;\n\nreturn [{ json: { \n  ...emailData, \n  ...classification,\n  slackWebhook,\n  urgentWebhook: $vars.SLACK_WEBHOOK_URGENT,\n  slackMessage,\n  autoReply: classification.auto_reply || '',\n  isP1: classification.priority === 'P1',\n  canAutoReply\n} }];"
      },
      "id": "parse-result",
      "name": "Parse & Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.slackWebhook }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.slackMessage }}"
            }
          ]
        },
        "options": {}
      },
      "id": "notify-slack",
      "name": "Notify Slack Channel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1140, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "is-p1",
              "leftValue": "={{ $('Parse & Prepare').first().json.isP1 }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "id": "check-p1",
      "name": "Is P1 Urgent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1360, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Parse & Prepare').first().json.urgentWebhook }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=🚨 *P1 ALERT — Immediate attention required*\n*Od:* {{ $('Parse & Prepare').first().json.sender }}\n*Predmet:* {{ $('Parse & Prepare').first().json.subject }}\n*Sažetak:* {{ $('Parse & Prepare').first().json.summary }}"
            }
          ]
        },
        "options": {}
      },
      "id": "alert-urgent",
      "name": "Alert #triage-urgent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1580, 120]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "can-reply",
              "leftValue": "={{ $('Parse & Prepare').first().json.canAutoReply }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "id": "check-autoreply",
      "name": "Can Auto-Reply?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1360, 420]
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Parse & Prepare').first().json.gmailId }}",
        "threadId": "={{ $('Parse & Prepare').first().json.threadId }}",
        "message": "={{ $('Parse & Prepare').first().json.autoReply }}",
        "options": {}
      },
      "id": "send-reply",
      "name": "Send Gmail Reply",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1580, 340],
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SLACK_WEBHOOK_FAQ }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=✅ Auto-reply sent\n*Od:* {{ $('Parse & Prepare').first().json.sender }}\n*Predmet:* {{ $('Parse & Prepare').first().json.subject }}"
            }
          ]
        },
        "options": {}
      },
      "id": "slack-fyi",
      "name": "Slack FYI — Reply Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 340]
    }
  ],
  "connections": {
    "Gmail Trigger — agentmetabelly": {
      "main": [[{ "node": "Extract Email Fields", "type": "main", "index": 0 }]]
    },
    "Extract Email Fields": {
      "main": [[{ "node": "Luka — Classify with Claude", "type": "main", "index": 0 }]]
    },
    "Luka — Classify with Claude": {
      "main": [[{ "node": "Parse & Prepare", "type": "main", "index": 0 }]]
    },
    "Parse & Prepare": {
      "main": [[{ "node": "Notify Slack Channel", "type": "main", "index": 0 }]]
    },
    "Notify Slack Channel": {
      "main": [
        [
          { "node": "Is P1 Urgent?", "type": "main", "index": 0 },
          { "node": "Can Auto-Reply?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Is P1 Urgent?": {
      "main": [
        [{ "node": "Alert #triage-urgent", "type": "main", "index": 0 }],
        []
      ]
    },
    "Can Auto-Reply?": {
      "main": [
        [{ "node": "Send Gmail Reply", "type": "main", "index": 0 }],
        []
      ]
    },
    "Send Gmail Reply": {
      "main": [[{ "node": "Slack FYI — Reply Sent", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "metabelly" }]
}
