n8n-workflows/02-slack-notify.json
{
  "name": "02-slack-notify",
  "nodes": [
    {
      "parameters": {},
      "id": "wf-trigger",
      "name": "When Called by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst webhookMap = {\n  MEDICAL: 'YOUR_SLACK_WEBHOOK_MEDICAL',\n  ORDER: 'YOUR_SLACK_WEBHOOK_ORDER',\n  BUSINESS: 'YOUR_SLACK_WEBHOOK_BUSINESS',\n  FAQ: 'YOUR_SLACK_WEBHOOK_FAQ'\n};\n\nconst priorityEmoji = { P1: '🚨', P2: '⚠️', P3: 'ℹ️' };\n\nconst webhookUrl = webhookMap[data.category] || webhookMap['FAQ'];\nconst emoji = priorityEmoji[data.priority] || 'ℹ️';\nconst urgentPrefix = data.priority === 'P1' ? '🚨 *HITNO / URGENT* 🚨\\n' : '';\n\nconst message = `${urgentPrefix}${emoji} *Nova poruka — ${data.category}* (${data.priority})\\n` +\n  `*Od:* ${data.sender}\\n` +\n  `*Predmet:* ${data.subject}\\n` +\n  `*Sažetak:* ${data.summary}\\n` +\n  `*Akcija:* ${data.suggested_action}\\n` +\n  `*Auto-odgovor:* ${data.requires_human ? 'Ne — čeka odgovor' : 'Da'}`;\n\nreturn [{ json: { webhookUrl, message, isP1: data.priority === 'P1', ...data } }];"
      },
      "id": "prepare-slack",
      "name": "Bruno — Prepare Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.webhookUrl }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-slack",
      "name": "Send Slack Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "is-p1",
              "leftValue": "={{ $('Bruno — Prepare Slack Message').first().json.isP1 }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "id": "check-p1",
      "name": "Is P1 Urgent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_SLACK_WEBHOOK_URGENT",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=🚨 *P1 ALERT — Immediate attention required*\n*Od:* {{ $('Bruno — Prepare Slack Message').first().json.sender }}\n*Predmet:* {{ $('Bruno — Prepare Slack Message').first().json.subject }}\n*Sažetak:* {{ $('Bruno — Prepare Slack Message').first().json.summary }}"
            }
          ]
        },
        "options": {}
      },
      "id": "alert-urgent",
      "name": "Alert #triage-urgent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 180]
    }
  ],
  "connections": {
    "When Called by Another Workflow": {
      "main": [[{ "node": "Bruno — Prepare Slack Message", "type": "main", "index": 0 }]]
    },
    "Bruno — Prepare Slack Message": {
      "main": [[{ "node": "Send Slack Notification", "type": "main", "index": 0 }]]
    },
    "Send Slack Notification": {
      "main": [[{ "node": "Is P1 Urgent?", "type": "main", "index": 0 }]]
    },
    "Is P1 Urgent?": {
      "main": [
        [{ "node": "Alert #triage-urgent", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "metabelly" }]
}
