n8n-workflows/03-auto-reply.json
{
  "name": "03-auto-reply",
  "nodes": [
    {
      "parameters": {},
      "id": "wf-trigger",
      "name": "When Called by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "can-autoreply",
              "leftValue": "={{ $json.requires_human }}",
              "rightValue": false,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "id": "check-autoreply",
      "name": "Can Auto-Reply?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst CONSULTATION_URL = $vars.CONSULTATION_URL || 'https://metabelly.com/kontakt';\n\nconst consultationNote = data.language === 'HR'\n  ? `\\n\\nAko želite razgovarati s nama, kontaktirajte nas: ${CONSULTATION_URL}`\n  : `\\n\\nIf you would like to speak with us, please contact us: ${CONSULTATION_URL}`;\n\nlet replyBody = data.auto_reply || '';\n\nif (data.category === 'MEDICAL') {\n  replyBody = data.language === 'HR'\n    ? `Hvala vam na povjerenju i što ste nam se obratili.\\n\\nVaše pitanje zahtijeva savjet stručnjaka, stoga ćemo ga proslijediti timu koji će vam odgovoriti u najkraćem mogućem roku.\\n\\nZa brži odgovor: ${CONSULTATION_URL}`\n    : `Thank you for reaching out to us.\\n\\nYour question requires expert advice and we will forward it to our team who will get back to you as soon as possible.\\n\\nFor a faster response: ${CONSULTATION_URL}`;\n} else if (replyBody) {\n  replyBody = replyBody + consultationNote;\n}\n\nreturn [{ json: { ...data, finalReply: replyBody } }];"
      },
      "id": "compose-reply",
      "name": "Maja — Compose Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 180]
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.gmailId }}",
        "threadId": "={{ $json.threadId }}",
        "message": "={{ $json.finalReply }}",
        "options": {}
      },
      "id": "send-reply",
      "name": "Send Gmail Reply",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [900, 180],
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_SLACK_WEBHOOK_FAQ",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=✅ Auto-reply sent\n*Od:* {{ $('Maja — Compose Reply').first().json.sender }}\n*Predmet:* {{ $('Maja — Compose Reply').first().json.subject }}\n*Kategorija:* {{ $('Maja — Compose Reply').first().json.category }}"
            }
          ]
        },
        "options": {}
      },
      "id": "slack-fyi",
      "name": "Slack FYI — Reply Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 180]
    }
  ],
  "connections": {
    "When Called by Another Workflow": {
      "main": [[{ "node": "Can Auto-Reply?", "type": "main", "index": 0 }]]
    },
    "Can Auto-Reply?": {
      "main": [
        [{ "node": "Maja — Compose Reply", "type": "main", "index": 0 }],
        []
      ]
    },
    "Maja — Compose Reply": {
      "main": [[{ "node": "Send Gmail Reply", "type": "main", "index": 0 }]]
    },
    "Send Gmail Reply": {
      "main": [[{ "node": "Slack FYI — Reply Sent", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "metabelly" }]
}
