n8n-workflows/03-auto-reply.json
{
  "name": "03-auto-reply",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-input",
      "name": "When Called by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "can-autoreply",
              "leftValue": "={{ $json.requires_human }}",
              "rightValue": false,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "id": "check-autoreply",
      "name": "Can Auto-Reply?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst CONSULTATION_URL = 'https://calendly.com/metabelly/consultation';\n\nconst consultationNote = data.language === 'HR'\n  ? `\\n\\nAko želite razgovarati s nama, slobodno zakažite konzultaciju: ${CONSULTATION_URL}`\n  : `\\n\\nIf you would like to speak with us, feel free to book a consultation: ${CONSULTATION_URL}`;\n\nconst isMedical = data.category === 'MEDICAL';\nlet replyBody = data.auto_reply || '';\n\nif (isMedical) {\n  replyBody = data.language === 'HR'\n    ? `Hvala vam na povjerenju i što ste nam se obratili.\\n\\nVaše pitanje zahtijeva savjet stručnjaka, stoga ćemo ga proslijediti timu koji će vam odgovoriti u najkraćem mogućem roku.\\n\\nZa brži odgovor, možete zakazati konzultaciju: ${CONSULTATION_URL}`\n    : `Thank you for reaching out to us.\\n\\nYour question requires expert advice and we will forward it to our team who will get back to you as soon as possible.\\n\\nFor a faster response, feel free to book a consultation: ${CONSULTATION_URL}`;\n} else if (replyBody) {\n  replyBody = replyBody + consultationNote;\n}\n\nreturn [{ json: { ...data, finalReply: replyBody } }];"
      },
      "id": "compose-reply",
      "name": "Maja — Compose Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 180]
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.gmailId }}",
        "threadId": "={{ $json.threadId }}",
        "message": "={{ $json.finalReply }}",
        "options": {}
      },
      "id": "send-reply",
      "name": "Send Gmail Reply",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [900, 180],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-metabelly",
          "name": "Gmail — Metabelly Support"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": { "__rl": true, "mode": "name", "value": "#triage-faq" },
        "text": "=✅ Auto-reply sent\\n*Od:* {{ $('Maja — Compose Reply').first().json.sender }}\\n*Predmet:* {{ $('Maja — Compose Reply').first().json.subject }}\\n*Kategorija:* {{ $('Maja — Compose Reply').first().json.category }}",
        "otherOptions": {}
      },
      "id": "slack-fyi",
      "name": "Slack FYI — Reply Sent",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1120, 180],
      "credentials": {
        "slackApi": {
          "id": "slack-metabelly",
          "name": "Slack — Metabelly"
        }
      }
    }
  ],
  "connections": {
    "When Called by Another Workflow": {
      "main": [[{ "node": "Can Auto-Reply?", "type": "main", "index": 0 }]]
    },
    "Can Auto-Reply?": {
      "main": [
        [{ "node": "Maja — Compose Reply", "type": "main", "index": 0 }],
        []
      ]
    },
    "Maja — Compose Reply": {
      "main": [[{ "node": "Send Gmail Reply", "type": "main", "index": 0 }]]
    },
    "Send Gmail Reply": {
      "main": [[{ "node": "Slack FYI — Reply Sent", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "metabelly" }]
}
